<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Chats</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header class="top-header">
    <div class="header_top">
      <div class="header_column">
        <!-- plane icon -->
        <i class="fa fa-fighter-jet"></i>
        <!-- wifi icon -->
        <i class="fa fa-wifi"></i>
      </div>
      <div class="header_column"><span class="header_time">18:38 </span></div>
      <div class="header_column">
        <!-- moon icon -->
        <i class="fa fa-moon-o" aria-hidden="true"></i>
        <!-- blue icon -->
        <i class="fa fa-bluetooth-b"></i>
        <span class="header_battery">66%
          <!-- battery icon -->
          <i class="fa fa-battery-full"></i>
        </span>
      </div>
    </div>
    <div class="header_bottom">
      <div class="header_column"><span class="header_text">Edit</span></div>
      <div class="header_column">
        <span class="header_text">Chats <i class="fa fa-caret-down"></i></span>
      </div>
      <div class="header_column">
      </div>
  </header>
  <main class="chats">
    <div class="search-bar">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Find freinds, chats, Plus Friends" />
    </div>
    <ul class="chats_list">
      <li class="chats_chat">
        <a href="/chat">
          <div class="chat_content">
            <img src="static/avartar.jpg" alt="">
            <div class="chat_preview">
              <h3 class="chat_user">Jihyun
              </h3>
              <span class="chat_last-message">Hello this is last message</span>
            </div>
          </div>
          <span class="chat_date-time">
            15:55
          </span>
        </a>
      </li>
      <li class="chats_chat">
        <a href="/chat">
          <div class="chat_content">
            <img src="static/avartar.jpg" alt="">
            <div class="chat_preview">
              <h3 class="chat_user">Jihyun
              </h3>
              <span class="chat_last-message">Hello this is last message</span>
            </div>
          </div>
          <span class="chat_date-time">
            15:55
          </span>
        </a>
      </li>
      <li class="chats_chat">
        <a href="/chat">
          <div class="chat_content">
            <img src="static/avartar.jpg" alt="">
            <div class="chat_preview">
              <h3 class="chat_user">Jihyun
              </h3>
              <span class="chat_last-message">Hello this is last message</span>
            </div>
          </div>
          <span class="chat_date-time">
            15:55
          </span>
        </a>
      </li>
      <li class="chats_chat">
        <a href="/chat">
          <div class="chat_content">
            <img src="static/avartar.jpg" alt="">
            <div class="chat_preview">
              <h3 class="chat_user">Jihyun
              </h3>
              <span class="chat_last-message">Hello this is last message</span>
            </div>
          </div>
          <span class="chat_date-time">
            15:55
          </span>
        </a>
      </li>
      <li class="chats_chat">
        <a href="/chat">
          <div class="chat_content">
            <img src="static/avartar.jpg" alt="">
            <div class="chat_preview">
              <h3 class="chat_user">Jihyun
              </h3>
              <span class="chat_last-message">Hello this is last message</span>
            </div>
          </div>
          <span class="chat_date-time">
            15:55
          </span>
        </a>
      </li>

      <li class="chats_chat">
        <a href="/chat">
          <div class="chat_content">
            <img src="static/avartar.jpg" alt="">
            <div class="chat_preview">
              <h3 class="chat_user">Kakao talk
              </h3>
              <span class="chat_last-message">You logged into KakaoTalk PC</span>
            </div>
          </div>
          <span class="chat_date-time">
            July 29
          </span>
        </a>
      </li>
    </ul>
    <div class="chat-btn">
      <i class="fa fa-comment"></i>
    </div>
  </main>
  <nav class="tab-bar">
    <a href="/index" class="tab-bar_tab">
      <i class="fa fa-user"></i><span class="tab-bar_title">Friends</span>
    </a>
    <a href="/chats" class="tab-bar_tab tab-bar_tab--selected">
      <i class="fa fa-comment"></i><span class="tab-bar_title">Chats</span>
    </a>
    <a href="/find" class="tab-bar_tab">
      <i class="fa fa-search"></i><span class="tab-bar_title">Find</span>
    </a>
    <a href="/more" class="tab-bar_tab">
      <i class="fa fa-ellipsis-h"></i><span class="tab-bar_title">More</span>
    </a>
  </nav>
</body>

</html>