<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Find</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header class="top-header">
    <div class="header_top">
      <div class="header_column">
        <!-- plane icon -->
        <i class="fa fa-fighter-jet"></i>
        <!-- wifi icon -->
        <i class="fa fa-wifi"></i>
      </div>
      <div class="header_column"><span class="header_time">18:38 </span></div>
      <div class="header_column">
        <!-- moon icon -->
        <i class="fa fa-moon-o" aria-hidden="true"></i>
        <!-- blue icon -->
        <i class="fa fa-bluetooth-b"></i>
        <span class="header_battery">66%
          <!-- battery icon -->
          <i class="fa fa-battery-full"></i>
        </span>
      </div>
    </div>
    <div class="header_bottom">
      <div class="header_column"><span class="header_text">Edit</span></div>
      <div class="header_column">
        <span class="header_text">Find </span>
      </div>
      <div class="header_column">
      </div>
  </header>
  <main class="find">
    <section class="find_options">
      <div class="find_option">
        <i class="fa fa-address-book fa-lg"></i>
        <span class="find_option-title">Find</span>
      </div>
      <div class="find_option">
        <i class="fa fa-qrcode fa-lg"></i>
        <span class="find_option-title">QR Code</span>
      </div>
      <div class="find_option">
        <i class="fa fa-mobile fa-lg"></i>
        <span class="find_option-title">Shake</span>
      </div>
      <div class="find_option">
        <i class="fa fa-envelope-o fa-lg"></i>
        <span class="find_option-title">Invite via SMS</span>
      </div>
    </section>
    <section class="find_recommended">
      <header>
        <h6 class="recommended_find_title">Recommended Friends</h6>
      </header>
      <div class="recommended_none">
        <span class="recommended_text">You have no recommended</span>
      </div>
    </section>
  </main>

  <nav class="tab-bar">
        <a href="/index" class="tab-bar_tab">
      <i class="fa fa-user"></i><span class="tab-bar_title">Friends</span>
    </a>
    <a href="/chats" class="tab-bar_tab">
      <i class="fa fa-comment"></i><span class="tab-bar_title">Chats</span>
    </a>
    <a href="/find" class="tab-bar_tab tab-bar_tab--selected">
      <i class="fa fa-search"></i><span class="tab-bar_title">Find</span>
    </a>
    <a href="/more" class="tab-bar_tab">
      <i class="fa fa-ellipsis-h"></i><span class="tab-bar_title">More</span>
    </a>
  </nav>
</body>

</html>