<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Profile</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header class="top-header top-header--transparent">
    <div class="header_top">
      <div class="header_column">
        <!-- plane icon -->
        <i class="fa fa-fighter-jet"></i>
        <!-- wifi icon -->
        <i class="fa fa-wifi"></i>
      </div>
      <div class="header_column"><span class="header_time">18:38 </span></div>
      <div class="header_column">
        <!-- moon icon -->
        <i class="fa fa-moon-o" aria-hidden="true"></i>
        <!-- blue icon -->
        <i class="fa fa-bluetooth-b"></i>
        <span class="header_battery">66%
          <!-- battery icon -->
          <i class="fa fa-battery-full"></i>
        </span>
      </div>
    </div>
    <div class="header_bottom">
      <div class="header_column">
        <a href="/index">
          <i class="fa fa-times fa lg"></i>
        </a>
      </div>
      <div class="header_column">
      </div>
      <div class="header_column">
        <i class="fa fa-user fa lg"></i>
      </div>
  </header>
  <main class="profile">
    <header class="profile_header">
      <div class="profile_header-container">
        <img src="/static/images/avartar.jpg" alt="">
        <h3 class="profile_header-title">Jihyun</h3>
      </div>
    </header>
    <div class="profile_container">
      <input type="text" placeholder="stophyuni@gmail.com">
      <div class="profile_actios">
        <div class="profile_action">
          <span class="profile_action-circle">
            <i class="fa fa-comment fa-lg"></i>
          </span>
          <span class="profile_action-title">My Chatroom</span>
        </div>
        <div class="profile_action">
          <span class="profile_action-circle">
            <i class="fa fa-pencil fa-lg"></i>
          </span>
          <span class="profile_action-title">Edit Profile</span>
        </div>
      </div>
    </div>
  </main>
</body>

</html>